:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
.text-style-big {
  font-size: 56px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}
.text-style-medium {
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.text-style-small {
  font-size: 20px;
  color: var(--color-grey);
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.text-body {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.body-medium {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: none;
  color: var(--color-navy-blue);
}
.button-text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.small-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.link-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-transform: none;
  color: var(--color-navy-blue);
}

.text-style-m {
  font-size: 36px;
  font-family: "Roboto";
  color: var(--color-grey);
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}

.text-style-mm {
  font-size: 36px;
  color: var(--color-grey);
  background-color: #ffffff;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.text-style-s {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  color: var(--color-grey);
  background-color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.studio-logo {
  width: 71px;
  height: 21px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */

  color: var(--color-navy-blue);
}
.studio-logo-footer {
  width: 71px;
  height: 21px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* CLOUD */

  color: var(--color-cloud);
}

.dark-bg {
  background: var(--color-navy-blue);
}

.effect {
  color: var(--color-white);
}

.button-f {
  cursor: pointer;
  background: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
}

.color-h3 {
  color: var(--color-grey);
  background-color: var(--color-white);
}

.list {
  list-style: none;
}

.color-b {
  color: var(--color-slate);
}

.light-bg {
  background-color: var(--color-cloud);
}

.img-t {
  background-color: var(--color-white);
}
.footer {
  background-color: var(--color-navy-blue);
}
.color-f {
  color: var(--color-cloud);
}
.studio {
  color: var(--color-cloud);
}
.button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-iris);
  background-color: #f4f4fd;
  letter-spacing: 0.04em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.button-other {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--color-cloud);
}

.body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}
.link {
  text-decoration: none;
}
.adress {
  font-style: normal;
}

.color-a {
  color: var(--color-navy-blue);
}

.color-h2 {
  color: var(--color-grey);
}

.color-our-team {
  background-color: var(--color-white);
}

.medium-color {
  color: var(--color-grey);
}
.body-medium:focus {
  color: var(--color-ocean);
}
.body-medium:hover {
  color: var(--color-ocean);
}
.text-body:hover {
  background-color: var(--color-ocean);
}
.text-body:focus {
  background-color: var(--color-ocean);
}

.button-f:hover {
  background-color: var(--color-ocean);
}
.button-f:focus {
  background-color: var(--color-ocean);
}
.button-all:hover {
  color: var(--color-white);
  background-color: #404bbf;
}
.button-all:focus {
  color: var(--color-white);
  background-color: #404bbf;
}

.text-port {
  font-size: 20px;

  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  text-transform: none;
}

.text-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  text-transform: none;
}
.body-medium:focus {
  color: var(--color-ocean);
}
.body-medium:focus {
  color: var(--color-ocean);
}
.sect-all {
  list-style: none;
}
.sect-color {
  color: var(--color-cloud);
}
.color-b:hover {
  color: var(--color-ocean);
}
.color-b:focus {
  color: var(--color-ocean);
}
